div {
    width: 100%;
}

.list-inline-item:not(:last-child) {
    margin-right: 0px;
    width: 100%;
}

h1 {
    font-weight: bold;
    text-align: center;

}

h6 {
    
    text-align: center;
    
}
h4 {
   
    text-align: center;
    
}
h5 {
   
    text-align: center;
    padding-left: 50%;
}

.card{
height: 600px;
width: 500px;
align-items: center;


}

button {
    border-radius: 90px;
    color: rgba(56, 9, 9, 0.76)!important
}

.card-img{
    margin-left: 0%;
    height:400px;
width: 500px;

}