<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="login-popup-wrap new_login_popup">
    <div class="login-popup-heading text-center">
        <h2><i class="fa fa-lock" aria-hidden="true"></i> Connectez-Vous </h2>
    </div>
    <!--<form accept-charset="utf-8" method="post" action="">-->
    <form id="loginMember" role="form" action="" method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="user_id" placeholder="e-mail" name="user_id">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-default login-popup-btn" name="submit" value="1">Login</button>
    </form>
    <div class="form-group text-center">
        <a class="pwd-forget" href="javascript:void(0)" id="open_forgotPassword">Mot de passe Oublié?</a>
    </div>
    <div class="text-center">Pas encore inscrit?<a href="">Cliquer ici</a></div>
</div>