<h2>DECOUVREZ NOS PRODUIT</h2>
<hr>

<div class="row">

    <div class="col-md-3 col-sm-6" *ngFor="let item of produits">
        <div class="product-grid">
            <div class="product-image">
                <a routerLink="/produits/{{item.idProduit}}">

                    <img src={{item.photo}}>

                </a>


            </div>
            <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star disable"></li>
            </ul>
            <div class="product-content">
                <h3 class="title"><a href="#">{{item.description}}</a></h3>
                <div class="price">
                    <h4>{{item.prix}} €</h4>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="card" *ngFor="let item of produits">-->
    <!--<a routerLink="/produits/{{item.idProduit}}" href=""><img class="card-img-top" src={{item.photo}} alt="Card image cap"></a>-->
    <!--<div class="card-body">-->
    <!--<h5 class="card-title">{{item.designation}}</h5>-->
    <!--<p class="card-text">{{item.description}}</p>-->
    <!--<a routerLink="/cart" href="#" class="btn btn-danger">Ajouter au panier</a>-->
    <!--<h4>{{item.prix}} €</h4>->-->
    <!--</div>-->
    <!--</div>-->