<div *ngIf="details" class="products">
    <img src={{details.photo}}>
    <!--span class="product-new-label">Sale</span>
<span class="product-discount-label">20%</span>-->
</div>
<ul class="rating">

</ul>
<div class="product-content">
    <h3 class="title">{{details.description}}</h3>

    <a routerLink="/cart" class="add-to-cart" href="">+ Ajouter au panier</a>
    <div>
    </div>
    <div class="product-content">

        <div class="price">{{details.prix}} €
            <div>
                <h3>{{details.designation}}</h3>
            </div>