div {
    width: 100%;
}

img {
    height: 400px;
    width: 990px;
    margin: auto;
}

a {
    text-align: center;
}

.product-content {
    text-align: center;
}

.price {
    color: rgba(56, 9, 9, 0.76)!important;
    font-weight: bold;
}