<!--
<header>
    <div class="container">
        <a routerLink="/" class="logo">{{apptitle}}</a>
        <nav>
            <ul>
                <li><a routerLink="/">Accueil</a></li>
                <li><a routerLink="/produits">Nos Produit</a></li>
                <li><a routerLink="/">Connexion</a></li>
                <li><a routerLink="/">Contact</a></li>
                <a routerLink="/cart"> <img src="assets/panier.jpg" height="50" width="50"></a>

            </ul>
        </nav>
    </div>
</header>>
-->
<!--

-->