header {
    background: #53301c;
}

header .logo {
    font-weight: bold;
}

header nav {
    justify-self: right;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav li {
    float: left;
}

header nav li a {
    padding: 1.5em;
    text-transform: uppercase;
    font-size: 0.8em;
}

header nav li a:hover {
    background: #53301c;
}