.bg-dark {
    background-color: rgba(56, 9, 9, 0.76)!important;
}

a.logo {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 2em;
}

a.logo:link {
    text-decoration: none;
}

.navbar-nav {
    margin-left: 70%;
}

.nav-item {
    margin-right: 10px;
    font-family: 'Anton', sans-serif;
}

img {
    height: 120px;
    width: 70px;
}