.bg-dark {
    background-color: rgba(56, 9, 9, 0.76)!important;
}

a.logo {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 2em;
}

a.logo:link {
    text-decoration: none;
<<<<<<< HEAD
}

.navbar-nav {
    margin-left: 70%;
}

.nav-item {
    margin-right: 10px;
    font-family: 'Anton', sans-serif;
=======

}

.navbar-nav {
    margin-left: 60%;
}

.nav-item {
    margin-right: 10px;
    font-family: 'Anton', sans-serif;
}

hr {
    padding-top: 5px;
>>>>>>> redhaTest
}